<a href="https://colab.research.google.com/github/Poojakjain25/CVIP_DATA_SCIENCE/blob/main/Email_spam_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
mail_data = pd.read_csv('mail_data.csv')

In [5]:
print(mail_data.shape)
print("Number of Rows: ",mail_data.shape[0])
print("Number of Columns: ",mail_data.shape[1])

(5572, 2)
Number of Rows:  5572
Number of Columns:  2

In [6]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
mail_data.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [8]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [9]:
print("The total number of null values in the entire dataset is: ",mail_data.isnull().sum().sum())

The total number of null values in the entire dataset is:  0

In [10]:
mail_data["Category"].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [11]:
mail_data['Category'] = mail_data['Category'].map({"ham":0, "spam":1})

In [12]:
mail_data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [13]:
mail_data['Category'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 5572 entries, 0 to 5571
Series name: Category
Non-Null Count  Dtype
--------------  -----
5572 non-null   int64
dtypes: int64(1)
memory usage: 43.7 KB

In [14]:
X = mail_data['Message']
Y = mail_data['Category']

In [15]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [16]:
print(Y)

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: Category, Length: 5572, dtype: int64

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y ,test_size=0.2, random_state=42)

In [18]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

In [19]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words='english', lowercase=True)

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [20]:
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [21]:
print(X_train)

184                              He will, you guys close?
2171    CAN I PLEASE COME UP NOW IMIN TOWN.DONTMATTER ...
5422              Ok k..sry i knw 2 siva..tats y i askd..
4113                            I'll see, but prolly yeah
4588    I'll see if I can swing by in a bit, got some ...
                              ...
1932                  What pa tell me.. I went to bath:-)
5316                         Jus finish watching tv... U?
2309    Moby Pub Quiz.Win a £100 High Street prize if ...
1904    Free entry in 2 a weekly comp for a chance to ...
762     We are at grandmas. Oh dear, u still ill? I fe...
Name: Message, Length: 4457, dtype: object

In [22]:
print(X_train_features)

  (0, 1803)	0.7464182419165099
  (0, 3187)	0.6654771281826798
  (1, 400)	0.24345620884965122
  (1, 6654)	0.2645075551907187
  (1, 3517)	0.1916818620435454
  (1, 3633)	0.2645075551907187
  (1, 6537)	0.2645075551907187
  (1, 4497)	0.2645075551907187
  (1, 2354)	0.2645075551907187
  (1, 2356)	0.2645075551907187
  (1, 387)	0.2645075551907187
  (1, 5374)	0.2645075551907187
  (1, 3744)	0.11453521007962274
  (1, 4806)	0.2645075551907187
  (1, 6895)	0.2645075551907187
  (1, 2355)	0.2645075551907187
  (1, 6697)	0.18660831706988856
  (1, 3509)	0.2645075551907187
  (1, 1860)	0.1283557507585115
  (2, 1070)	0.39391011803589404
  (2, 6441)	0.48320384319846865
  (2, 5952)	0.4607081074843352
  (2, 3832)	0.3886221843200966
  (2, 6172)	0.4447471289878994
  (2, 4726)	0.22420904004227302
  :	:
  (4455, 6209)	0.24113417360632425
  (4455, 3613)	0.24471255171290388
  (4455, 2555)	0.45034271195156134
  (4455, 1007)	0.20616502451335794
  (4455, 1677)	0.19669903119338905
  (4455, 7119)	0.21933477485089736
  (4455, 7181)	0.18085114829016455
  (4455, 2222)	0.21593562238191955
  (4455, 5342)	0.20868196687475565
  (4455, 6782)	0.3044781781727817
  (4455, 319)	0.19321256973157325
  (4455, 2899)	0.14315716914460408
  (4456, 3441)	0.396919945464088
  (4456, 3128)	0.396919945464088
  (4456, 2743)	0.3235710658541696
  (4456, 3926)	0.2560480926085593
  (4456, 3500)	0.26779845349668496
  (4456, 5676)	0.27830438973201616
  (4456, 6558)	0.22002069789822185
  (4456, 2142)	0.22550617899105901
  (4456, 5855)	0.2766469626679603
  (4456, 4721)	0.2276767902363755
  (4456, 4598)	0.22394348116774498
  (4456, 4427)	0.24115971319962848
  (4456, 3744)	0.17187149647102748

In [23]:
model = LogisticRegression()

In [24]:
model.fit(X_train_features, Y_train)

LogisticRegression()

In [25]:
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [26]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9692618353152345

In [27]:
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [28]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.9668161434977578

In [29]:
input_mail = ["I hope this email finds you in great spirits. We are thrilled to inform you that you have been selected for our 100% IT Readiness Program, set to commence from mid-November 2023. Congratulations on your well-deserved selection!"]
input_data_features = feature_extraction.transform(input_mail)
prediction = model.predict(input_data_features)

if (prediction[0]==0):
  print('Ham mail')

else:
  print('Spam mail')

Ham mail

In [30]:
input_mail = ["Hi Customer, you have won free ticket for lottery"]
input_data_features = feature_extraction.transform(input_mail)
prediction = model.predict(input_data_features)

if (prediction[0]==0):
  print('Ham mail')

else:
  print('Spam mail')

Spam mail